.container{
  height: 7100px;
}
.img07{
  margin-left: -100px;
  margin-top: -100px;
}
.row01{
  .img1{
    margin-left: 50px;
  }
  .img5{
    margin-top: 55px;
    width: 122px;
    height: 22px;
  }
  .img2{
    h5{
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
    }
    h5:hover{
      cursor: pointer;
      font-weight: 700;
    }
    margin-left: 200px;
    margin-top: 55px;
    width: 370px;
    height: 17px;
  }
  .btn-light{
    margin-top: 40px;
    font-family: Poppins,sans-serif;
    width: 102px;
    height: 43px;
    border: 1px solid #BCD0E5;
  }
  .btn1{
    margin-top: 40px;
    background-color: #02897A;
    width: 110px;
    height: 43px;
    color: white;
    font-family: Poppins,sans-serif;
  }
}
.img3{
  margin-top: 40px;
  width: 30px;
  height: 30px;
}
.section1{
  .row{
    .col-6{
      h1{
        font-size: 40px;
        font-family: Poppins,sans-serif;
        line-height: 60px;
        font-weight: bold;
        color: #22343D;
        width: 350px;
      }
      h4{
        font-weight: 400;
        font-size: 18px;
        color: #22343D;
        font-family: "Poppins", sans-serif;
        width: 400px;
        line-height: 28px;
      }
      .btn{
        width: 175px;
        height: 53px;
        background-color: #02897A;
        color: white;
      }
      .row{
        img{
          width: 20px;
          height: 20px;
        }
        h5{
          font-family: "Poppins", sans-serif;
          color: #02897A;
          text-decoration: underline;
          font-size: 16px;
          font-weight: 600;
        }
        h5:hover{
          cursor: pointer;
        }
      }
    }
  }
  margin-top: 145px;
  margin-left: 50px;
}
.section2{
  margin-top: 300px;
  h1{
    width: 600px;
    font-weight: 700;
    color: #22343D;
    font-family: "Poppins", sans-serif;
  }
}
.section3{
  .col-3{
    img{
      width: 50px;
      height: 50px;
    }
    h4{
      font-size: 22px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
    }
    h6{
      font-family: "Poppins", sans-serif !important;
      font-size: 16px !important;
      font-weight: 400 !important;
      width: 200px;
      line-height: 26px;
    }
  }
  .btn{
    margin-left: 470px;
    width: 175px;
    height: 53px;
background-color: #02897A;
    p{
      color: white;
      font-size: 16px;
      font-weight: 700;
    }
  }
margin-top: 100px;
  background-image: url("images/photo_2021-11-06_20-21-31.jpg");
  background-attachment: scroll;
  background-size: 1200px;
  height: 400px;
}
.section4{
  margin-top: 150px;
  .row{
    .col-6{
      h1{
        color: #22343D;
        font-size: 32px;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
      }
      h4{
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
      }
      h5{
        width: 470px;
        font-size: 16px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        line-height: 26px;
      }
    }
  }
}
.s2{
  .row{
    .i1{
      .h5{
        width: 400px;
      }
      img{
        margin-top: 30px;
        width: 35px;
        height: 35px;
      }
      .r1{
        h5{
          margin-top: -10px;
          width: 300px;
        }
      }
      .r2{
        h5{
          margin-top: -10px;
          width: 330px;
        }
      }
    }
  }
}
.section5{
  background-image: url("images/photo_2021-11-06_20-21-11.jpg");
  background-attachment: scroll;
  background-size: 100%;
  margin-top: 165px;
  background-repeat: no-repeat;
  height: 389px;
  h1{
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
  }
  h5{
    width: 542px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  .card-body{
    .btn{
      margin-left: 400px;
      width: 216px;
      height: 53px;
      background-color: #02897A;
      p{
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: white;
      }
    }
    .row{
      img{
        width: 98px;
        height: 98px;
      }
      .card-body{
        width: 450px;
      }
      .div1{
        img{
          width: 274px;
          height: 53px;
        }
        h5{
          margin-top: -45px;
        }
      }
    }
  }
}
.section6{
  .card-body{
    h1{
      font-size: 34px;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      margin-top: 300px;
    }
    h5{
    @extend %qwerty
    }
    .carousel-inner{
      .carousel-item{
        .row{
          .card{
            height: 348px;
            border-radius: 5px;
            img{
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              width: 330px;
              height: 185px;
            }
            h4{
              font-size: 16px;
              font-weight: 400;
              font-family: "Poppins", sans-serif;
            }
            h2{
              font-size: 24px;
              font-weight: 700;
              font-family: "Poppins", sans-serif;
              width: 294px;
              line-height: 40px;
            }
            .c0{
              color: #02897A;
            }
          }
        }
      }
    }
  }
}
.carousel-indicators li{
  border-radius: 50% !important;
  height: 20px !important;
  width: 20px !important;
  margin-top: 100px !important;
  background-color:  #028970 !important;
}
.cr1{
height: 450px;
}
%qwerty{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.section7{
  .e1{
    margin-left: 100px;
  }
  margin-top: 150px;
  h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 34px;
  }
  h5{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  .h55{
    margin-left: -40px;
    color: white;
    font-size: 76px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  .h66{
    margin-top: 20px;
    margin-left: 8px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
  }
  .btn1{
    background-color: white;
    margin-left: 60px;
    width: 139px;
    height: 44px;
    color: #028970;
    font-weight: 600;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
  }
  .row{
    .c5{
      color: white;
      background-color: #02897A;
    }
    .col-3:hover{
      background-color: #02897A;
      .h111{
        color: white;
      }
    .div45{
      .q12{
        color: white;
      }
    }
      .btn{
        background-color: white;
        color: #02897A;
      }
    }
    .col-3{
      h4{
        font-family: Inter,sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
      .btn2{
        margin-left: 60px;
        background-color: #02897A;
        width: 139px;
        height: 44px;
        color: white;
        font-weight: 600;
        font-size: 18px;
        font-family: Montserrat, sans-serif;
      }
      height: 400px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
      h2{
        margin-top: 24px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 24px;
      }
      h6{
        font-size: 16px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
      }
      .h111{
        margin-left: -35px;
        font-size: 76px;
        color: #02897A;
      }
      .row02{
        margin-left: 83px;
        .q12{
          margin-top: 20px;
          margin-left: 8px;
          font-size: 24px;
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          color: #02897A;
        }
        h6{
          font-weight: 400;
          font-size: 16px;
          font-family: "Poppins", sans-serif;
          color: silver;
          margin-left: 8px;
          margin-top: -20px;
        }
      }
    }
  }
}
.section8{
  margin-top: 150px;
.h77{
  font-size: 34px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
  .h555{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 500px;
    line-height: 28px;
  }
}
.section9{
  .card{
    margin-top: 50px;
    .card-body{
      .row{
        h4{
          margin-top: -5px;
          font-size: 14px;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
        }
        h5{
          font-weight: 600;
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          color: #02897A;
        }
        img{
          margin-left: 15px;
          width: 50px;
          height: 50px;
        }
      }
      h6{
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        width: 250px;
        line-height: 28px;
      }
    }
    .row{
      .img22{
        margin-left: 35px;
        margin-top: 18px;
        width: 18px;
        height: 18px;
      }
      .img23{
        margin-top: 18px;
        width: 18px;
        height: 18px;
      }
    }
  }
}
.section10{
  margin-top: 150px;
.card-body{
  background-color: #02897A;
  width: 968px;
  height: 345px;
  border-radius: 32px;
  h1{
    color: white;
    width: 450px;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 48px;
  }
  .btn-light{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: #02897A;
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
}
}
.img112{
  margin-top: -200px;
  width: 331px;
  height: 300px;
}
.section11{
  h2{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }
  margin-top: 150px;
  .card-body{
    .c44{
      .btn123{
        color: white;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        background-color: #02897A;
        width: 131px;
        height: 39px;
      }
      h3{
        line-height: 30px;
        width: 260px;
        font-size: 20px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
      }
    }
    .c33{
      h3{
        font-size: 20px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
      }
     h6{
       width: 120px;
       font-weight: 400;
       font-family: "Poppins", sans-serif;
       font-size: 16px;
       line-height: 35px;
     }
    }
    .c22{
      margin-left: 160px;
    }
    .col-2{
      h6{
        width: 72px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        line-height: 35px;
      }
      h3{
        font-size: 20px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
      }
    }
    .col-2{
      .r33{
        img{
          width: 40px;
          height: 40px;
        }
      }
      .row{
        .img333{
          width: 32px;
          height: 30px;
        }
        .img888{
          width: 114px;
          height: 21px;
        }
      }
    }
  }
}
.input11{
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #BCD0E5;
  width: 280px;
  height: 48px;
}